<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <span class="navbar-brand mb-0 h1">Stoxygen-Webinterface</span>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="bondsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#">Bonds</a>
                <div class="dropdown-menu" aria-labelledby="bondsDropdown">
                    <a class="dropdown-item" href="/bonds">Overview</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="exchangesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#">Exchanges</a>
                <div class="dropdown-menu" aria-labelledby="exchangesDropdown">
                    <a class="dropdown-item" href="/exchanges">Overview</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="indicatorsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#">Indicators</a>
                <div class="dropdown-menu" aria-labelledby="indicatorsDropdown">
                    <a class="dropdown-item" href="/indicators">Overview</a>
                </div>
            </li>
        </ul>
    </div>
</nav>