<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Stoxygen - Indicator</title>
    <link rel="stylesheet" href="/bootstrap-4.1.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/sticky-footer-navbar/sticky-footer-navbar.css" />
    <link rel="stylesheet" href="/font_awesome-5.1.0/css/fontawesome-all.min.css" />
</head>
<body>
<header>
    <th:block layout:replace="fragments/navigation" />
</header>
<main class="container" role="main">
    <h2 th:text="${title}">Text...</h2>
    <div th:if="${not #lists.isEmpty(bonds)}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">ISIN</th>
                <th scope="col">State</th>
                <th scope="col">Crypto Pair</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bond : ${bonds}">
                <td><a th:href="@{/bond/{isin}(isin=${bond.isin})}" th:text="${bond.bonds_id}">Text ...</a></td>
                <td><a th:href="@{/bond/{isin}(isin=${bond.isin})}" th:text="${bond.name}">Text ...</a></td>
                <td th:text="${bond.isin}">Text ...</td>
                <td th:text="${bond.state}">Text ...</td>
                <td th:text="${bond.cryptoPair}">Text ...</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<footer class="footer">
    <div class="container">
        (c) 2018 Stoxygen GmbH
    </div>
</footer>
<script src="/jquery/jquery-3.3.1.min.js"></script>
<script src="/bootstrap-4.1.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>